<h3>Welcome to the MIFF Emotion Tracker.</h3>

<p>
Your reactions to the film you are about to watch will be collated with 
other people’s to give a true reflection of the emotions that movies 
make us feel.
</p>

<p>
These results will then be published at miff.com.au to help the public 
get a better understanding of what feelings they can expect to 
experience before watching a film at the Melbourne International Film 
Festival.
</p>

<h3>What do you need to do?</h3>

<p>
Just press the emotion you feel at moments when you really feel 
something. If there’s a funny joke, press “HAPPINESS”. If you feel 
sad, press “SADNESS” and so on. It’s that simple.
</p>

<button type='button' data-event='next' class='btn btn-default'>Let's Go</button>
