<h2>The MIFF Emotion Tracker.</h2>

<p>
We just need some details. Once you have filled in the film 
name, your name and your fit bit number, press START to 
start the Emotion Tracker. You will then be given a ten second 
countdown to start the film.
</p>

<form>
  <div class="form-group">
    <label for="film-name">Film name</label>
    <input name='film' type="text" class="form-control" id="film-name" placeholder="" required>
  </div>
  <div class="form-group">
    <label for="your-name">Your name</label>
    <input name='name' type="text" class="form-control" id="your-name" placeholder="Optional">
  </div>
  <div class="form-group">
    <label>Are you using a heart rate tracker (fit bit)</label>
    <label class="radio-inline">
      <input name='fitbit_bool' type="radio" value="true" required> Yes
    </label>
    <label class="radio-inline">
      <input name='fitbit_bool' type="radio" value="false"> No
    </label>
  </div>
  <div class="form-group">
    <label for="fitbit-number">Enter the supplied fit bit number</label>
    <input name='fitbit_id' type="text" class="form-control" id="fitbit-number" placeholder="001">
  </div>
  <button type="submit" data-event="start" class="btn btn-primary">Start</button>
</form>



