<div class='row'>
  <div class='col-xs-6'><button type='button' data-event='pause' class='btn btn-default btn-block'>Pause</button></div>
  <div class='col-xs-6'><button type='button' data-event='finish' class='btn btn-default btn-block'>Finish</button></div>
</div>

<h3 id='film-title'></h3>

<h2>tracker time elapsed <span id='time-elapsed'>00:00:00</span></h2>

<h4>Tap/click when you feel something (or when your mood changes)</h4>

<div class='row'>
  <div class='col-xs-6 col-md-4'><button data-event='emotion' data-emotion='Happiness' type='button' class='btn btn-success btn-block e1'>Happiness</button></div>
  <div class='col-xs-6 col-md-4'><button data-event='emotion' data-emotion='Surprise' type='button' class='btn btn-info btn-block e2'>Surprise</button></div>
  <div class='col-xs-6 col-md-4'><button data-event='emotion' data-emotion='Sadness' type='button' class='btn btn-warning btn-block e3'>Sadness</button></div>
  <div class='col-xs-6 col-md-4'><button data-event='emotion' data-emotion='Disgust' type='button' class='btn btn-default btn-block e4'>Disgust</button></div>
  <div class='col-xs-6 col-md-4'><button data-event='emotion' data-emotion='Fear' type='button' class='btn btn-primary btn-block e5'>Fear</button></div>
  <div class='col-xs-6 col-md-4'><button data-event='emotion' data-emotion='Anger' type='button' class='btn btn-danger btn-block e6'>Anger</button></div>
</div>
<br>

<p>Try and tap as ofter as you can</p>
